body {
  margin: 0;
  padding: 0;
  background: #121212;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  width: 300px;
  background: #1f1f1f;
  border-radius: 14px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.controls button {
  background: #333;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.controls button:hover {
  background: #555;
}
